/*
    dimension definition
*/
$width-mobile: 480px;
$width-tablet: 768px;
$width-desktop: 992px;
$width-large-desktop: 1200px;

/*Font - start*/

/*Font - end*/

/*Color - start*/
$color-grey: #878c9b;
$color-white: #fff;
$color-black: #000;
$color-border: #e5e5e5;
/*Color - end*/