@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
}

<div>
    <p>
        Thank you for confirming your email. Please @(Html.MultiSiteUrlFor<Login>("Click here to Log in"))
    </p>
</div>

