<!DOCTYPE html>
<html>
<head>
    @{Html.RenderAction("RenderHead","LayoutSurface");}
</head>
<body>
@{Html.RenderAction("RenderNavigation","LayoutSurface");}

<div class="container body-content">
    @RenderBody()
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>
</div>

@{Html.RenderAction("RenderScript","LayoutSurface");}
</body>
</html>
